<section class="innerSection">
    <h1>Reactive Form</h1>
</section>


<div class="container">
    <form class="row g-3" [formGroup]="studentFrom">
        <div class="col-md-4">
          <label class="form-label">First name</label>
          <input type="text" class="form-control" formControlName="firstName" name="firstName">
          <div class="text-danger">
            @if(studentFrom.controls['firstName'].touched && studentFrom.controls['firstName'].errors?.['required']){
              <span>This is required</span>
            }@else if (studentFrom.controls['firstName'].touched && studentFrom.controls['firstName'].errors?.['minlength']) {
              <span>Min 4 Character required</span>
            }
            </div>
        </div>
        <div class="col-md-4">
          <label class="form-label">Last name</label>
          <input type="text" class="form-control" formControlName="lastName" name="lastName">
        </div>
        <div class="col-md-4">
          <label class="form-label">Username</label>
          <div class="input-group">
            <span class="input-group-text">&#64;</span>
            <input type="text" class="form-control" formControlName="userName" name="userName">
            @if(studentFrom.controls['userName'].touched && studentFrom.controls['userName'].errors?.['email']){
              <span class="text-danger">Email is not Valid</span>
            }
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label">City</label>
          <input type="text" class="form-control" formControlName="city" name="city">
        </div>
        <div class="col-md-3">
          <label class="form-label">State</label>
          <select class="form-select" name="state" formControlName=""state>
            <option selected disabled value="">Choose...</option>
            <option>Maharashtra</option>
            <option>Goa</option>
            <option>Rajasthan</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="form-label">Zip</label>
          <input type="text" class="form-control" formControlName="zip" name="zip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" formControlName="isAcceptTerms" name="isAgreeterms" type="checkbox" value="">
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit" [disabled]="studentFrom.invalid" (click)="onSave()">Submit form</button>
        </div>
      </form>
      <h2>{{formValue | json}}</h2>
</div>