<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a routerLink="keyboard"><span>k</span></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="data-binding">Data Binding</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="Structural-Dir">Structural Directive</a>
          </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="Attribute-dir">Attribute Directive</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="ifElse-Statement">If-Else</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="for-switch">For Switch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="fromvalidation">Form Validation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactive">Reactive Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ngtemplate">NG Template</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="get-api">Get API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-api-http-client">Post API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <router-outlet></router-outlet>