<section class="innerSection">
  <h1>If Else Statement</h1>
    <h6>*ngClass and *ngStyle...</h6>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @if(div1Visible){
                <div class="box one">
                    <h4>Div-1</h4>
                </div>
            }
            <button type="button" class="btn btn-success" (click) = "showDiv1()">Show</button><button class="btn btn-primary" type="button" (click) = "showDiv2()">Hide</button>
        </div>
        <div class="col-md-3">
           @if(div2Visible){
            <div class="box two">
                <h4>Div-2 Success</h4>
              </div>
           }
        
        @else{
            <div class="box four">
                <h4>Div-2 Warning</h4>
              </div>
        }
            <button type="button" class="btn btn-success" (click) = "toggleDiv()">Toggle</button>
        </div>
        <div class="col-md-3">
            <div class="card">
              @if(num1==num2){
                <div class="box three">
                    <h4>Div-3</h4>
                  </div>
              }
            </div>
            <div class="input-wrapper">
              <input type="text" placeholder="Num-1" class="form-control" [(ngModel)]="num1" />
              <input type="text" placeholder="Num-2" class="form-control" [(ngModel)]="num2" />
            </div>
        </div>
        <div class="col-md-3">
          <div class="box four">
            @if (selectStatus == 'active'){
              <h6>Status is Active</h6>
            }@else if (selectStatus == 'deactive'){
              <h6>Status is De-Active</h6>
            }@else if (selectStatus == 'pending'){
              <h6>Status is Pending</h6>
            }@else{
              <h6>Please Select the Status</h6>
            }
            
            
            
          </div>
          <select class="form-select" [(ngModel)] = "selectStatus">
            <option value="">Select Status</option>
            <option value="active">Active</option>
            <option value="deactive">De-Active</option>
            <option value="pending">Pending</option>
          </select>
        </div>
    </div>
</div>