<section class="innerSection">
    <h1>Attribute directive</h1>
    <h6>*ngClass and *ngStyle...</h6>
</section>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="box one">
                    <h4>DIV One</h4>
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-danger">Show</button>
                    <button class="btn btn-primary">Hide</button>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="box two">
                    <h4>DIV Two</h4>
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-success">Toggle</button>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="box three">
                    <h4>DIV Three</h4>
                </div>
                <div class="input-wrapper">
                    <input type="text" class="form-control" placeholder="Num One">
                    <input type="text" class="form-control" placeholder="Num Two">
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="box four">
                    <h4>DIV Four</h4>
                </div>
                <input type="checkbox">
                <select class="form-select">
                    <option value="Lko">Lucknow</option>
                    <option value="USA">USA</option>
                    <option value="Peru">Peru</option>
                </select>
            </div>
        </div>
        <div class="mt-5"></div>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="heading-four">
                    <h4></h4>
                </div>
            </div>
            <div class="col-md-3">
                <select name="" id="" class="form-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="mt-5"></div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <table class="table table-bordered border-primary table-striped">
                    <thead>
                        <th>Sr Number</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Status</th>
                    </thead>
                    
                </table>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>