<section class="innerSection">
    <h1>POST, PUT and Delete API</h1>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-stripped">
                <thead class="bg-dark text-white text-center">
                    <tr>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of departData; track $index) {
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{item.departmentName}}</td>
                            <td>{{item.departmentLogo}}</td>
                            <td class="text-center"><button class="btn btn-warning" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-danger" style="margin-left: 5px;" (click)="onDelete(item.departmentId)">Delete</button></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="bg-light">
                <label for="dn">Department Name</label>
                <input type="text" name="dName" id="dn" class="form-control" [(ngModel)]="departmantObj.departmentName">
                <br>
                <label for="dl">Department Logo</label>
                <input type="text" name="dLogo" id="dl" class="form-control" [(ngModel)]="departmantObj.departmentLogo">
                <div class="row mt-5">
                    <div class="col-6">
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                    <div class="col-6">
                        <!-- {{departmantObj|json}} -->
                        @if (departmantObj.departmentId == 0) {
                            <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
                        }@else {
                            <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>