.keyboardWrapper{
    background: #0c0f1f;
    padding: 5rem 0;
}
.keyboardWrapper .keyboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.keyboardWrapper .keyboard .break{
    flex-basis: 100%;
}
.keyboardWrapper .keyboard .key{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    padding: 10px 19px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.5), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 10px 20px 25px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.keyboardWrapper .keyboard .key::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    bottom: 10px;
    right: 8px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
    border-radius: 8px;
}
.keyboardWrapper .keyboard .key i{
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
}