<section class="innerSection">
    <h1>Pipe</h1>
    <h6>Default Pipe & Custom Pipe</h6>
  </section>

  <section class="pipe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                I Love {{mySub | uppercase}}<br>
                In Lowercase {{mySub | lowercase}}
            </div>
            <div class="col-md-3">
                {{dated | date:'dd-MMM-yy'}}
            </div>
            <div class="col-md-3">
                {{stud | json}}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
  </section>